@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cinzel:wght@400..900&family=Kumbh+Sans:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* ------------------ RESET GENERAL ------------------ */
@layer 
base
 {
 /*  *, *::before, *::after {
    
box-sizing: border-box;
  } */

  * {
    
margin: 0;
    
padding: 0;
    
box-sizing: border-box;
  }

  html {
    
font-family: 'Poppins', sans-serif;
    /* color: #333; */
    
  }
  html, body {
  overflow-x: hidden;
}
}
@layer utilities{

/* --------------fuente------------------- */
.custom-font {
  font-family: "Roboto-400", sans-serif;
}

  /* ---------------- clip-path------------------------*/
  #logo{
    clip-path: polygon(30% 0%,70% 0%,100% 30%,100% 70%,70% 100%,30% 100%,0% 70%,0% 30%);
    background-color: rgba(0, 0, 0, 0.288);
    backdrop-filter: blur(15px);
  }

  #img-perfil{
    clip-path: circle(50% at 50% 50%);
    border: 1px solid rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    background-color: #fff3;
    box-shadow: 0 2px 32px #000000a8;
    
  }
/* ------------------menu desplegable------------------- */

.ocultar{
  display: none;
}

/* --------------------modo oscuro----------------------- */
body{
  background-image: linear-gradient(to right, #164096, #0c3995, #043194, #002993, #012091, #011c89, #011981, #001579, #001668, #001558, #001347, #020f36);
}
.dark{
  color: black;
  background: #C1B8D6;
}
/* ----------------------slide infinito utilidad----------------- */
/* .slide{
  animation: 10s slide infinite linear;
}

@keyframes slide {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
} */
#slider-track {
  display: flex;
  animation: slide 15s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
}

/* ------------------------------------------levitacion-------------------------- */
.card-lev {
  animation: levitate 3s ease-in-out infinite;
}
@keyframes levitate {
  0%   { transform: translateY(0); }
  33%  { transform: translateY(-5px); }
  66%  { transform: translateY(5px); }
  100% { transform: translateY(0); }
}
.card-lev2 {
  animation: levita 3s ease-in-out infinite;
}
@keyframes levita {
  0%   { transform: translateY(0); }
  33%  { transform: translateY(5px); }
  66%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}


/* -------------------------proyectos----------------------------- */

.GalProyects{
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: .5s ease;
}
.GalProyects:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
/* -----------------------form---------------------------- */

input::placeholder, textarea::placeholder {
  color: #777676; /* o el color que prefieras */
  
}

:hover.card-lev, :hover.card-lev2, :hover.btn-form,  :hover.iluminar{
  box-shadow: 0 0 15px rgba(255,255,255, 0.5),
  0 0 30px rgba(255,255,255, 0.3),
  0 0 50px rgba(255,255,255, 0.2);

}





